{% load static %}

<html>
    <head>
        <style>
            body{
                background-color: #ffeee6;
                padding-left: 20px;
                display: flex;
            }
            h1{ color: #ff9900; }
            a{ color: black; }
            a:hover{ color: #ff9900; }
            img{ margin: 0; width: 492px; height: 250px;}
        </style>
    </head>
    <body>
        <img src="{% static 'imagenes/logo.svg' %}" alt="Logo">
        <div>
            <h1>La URL que has introducido no corresponde a este blog.</h1>
            <a href="{% url 'inicio' %}">Ir al inicio de este blog</a>
        </div>
    </body>
</html>