{% load static %}

<html>
    <head>
        <style>
            body{ background-color: #ffeee6; }
            h1{ color: #ff9900; }
            a{ color: black; }
            a:hover{ color: #ff9900; }
            img{ width: 500px; height: 500px;}
        </style>
    </head>
    <body>
        <span>
            <div>
                <h1>La URL que has introducido no corresponde a este blog.</h1>
                <a href="{% url 'inicio' %}">Ir al inicio de este blog</a>
            </div>
            <img src="{% static 'imagenes/logo.svg' %}" alt="Logo">
        </span>
    </body>
</html>