{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base-style.css' %}">
    <link rel="shortcut icon" href="{% static 'imagenes/favicon.ico' %}" type="image/x-icon"/>
</head>
<body>  
    {% include 'navbar.html' %}

    <div id="contenido-centro">
    {% if messages %}
        {% for message in messages %}
            <span class="mensajes" id="{{message.tags}}">
                
                {% if message.tags == "success" %}
                <img src="{% static 'imagenes/success.svg' %}" alt="{{message.tags}}" class="img-mens"/>
                {% else %}
                <img src="{% static 'imagenes/error.svg' %}" alt="{{message.tags}}" class="img-mens"/>
                {% endif %}

                {{message}}
            </span>
        {% endfor %}
    {% endif %}

    {% block content %}
    
    {% endblock %}
    </div>

    {% include 'footer.html' %}
</body>
</html>