{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} El Blog Libre - Eliminar entrada {% endblock %}</title>
</head>
<body>
    {% block content %}
    <form action="" method="GET">
        <p><strong>¿Estás seguro de que quieres eliminar la entrada?</strong></p>
        <span>
            <input type="submit" value="Sí, eliminar la entrada" name="input-del" class="boton-formulario" id="si-del">
            <input type="submit" value="No, volver atrás" name="nothing" class="boton-formulario">
        </span>
    </form>
    {% endblock %}
</body>
</html>