{% load static %}

<html>
<head>
    <link rel="stylesheet" href="{% static 'css/footer-style.css' %}">
</head>
<body>
    <footer>
        <p>Blog para seguir el curso de Django de Píldoras Informáticas | <a href="mailto:toniivaju@gmail.com" class="enlaces-pie">Contacto</a></p>
        <small>
            Este obra está bajo una 
            <a title="Licencia" class="enlaces-pie" target="_blank" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                licencia de Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional
            </a>.
        </small>
    </footer>
</body>
</html>